ul.li  { 
    list-style: circle;
}

a {
    font-weight: bold;
    font-size: 20px;
}

* {
    font-family: "Lucida Handwriting";
    box-sizing: border-box;
    background-color: black;
    color: white;
}

h1 {
    font-weight: bold;  
}

.img {
    height: 250px;
    width: 250px;
    
}

.box {
    float: left;
    width: 33%;
    padding: 10px;
}

.titlebox {
    margin-left: 40%;
}




