ul.li  { 
    list-style: circle;
}

a {
    font-weight: bold;
    font-size: 30px;
}

* {
    font-family: sans-serif;
    box-sizing: border-box;
}

h1 {
    font-weight: bold;  
}

img {
    height: 300px;
    width: 300px;
    
}

.box {
    float: left;
    width: 33%;
    padding: 10px;
}

.titlebox {
    margin-left: 40%;
}




